/*
Questo è 
un commento
*/

/*
selettore{
    proprietà/regola : valore ;
    proprietà/regola : valore ;
    proprietà/regola : valore ;
}
*/

div{
    color:red;
    background-color:blue;
}

div span{
    color: #fff;
}

div, span{
    border: 1px solid #000;
}